@{
    ViewData["Title"] = "Librería en mvc!";
}

<div class="panel">
    <div class="panel-heading">
        <h2>Librería en mvc</h2>
    </div>
    <div class="panel-body">
        Aplicación de muestra del funcionamiento básico de asp.net mvc core
    </div>
</div>
