@{
    ViewData["Title"] = "Librería en mvc!";
}

<div class="text-center">
    <h1>Librería en mvc</h1>
</div>

<hr />

<p>
    Aplicación para mostrar un ejemplo simple del funcionamiento básico de asp.net mvc core.
    <br />
    Para entender bien el funcionamiento ubicar primero los modelos dentro de la carpeta <span class="badge bg-primary">Models</span> 
    los modelos utilizados en la librería, la base de datos utilizada es una base de datos en memoria (ver su configuración en el 
    archivo <span class="badge bg-primary">Startup.cs</span>)

</p>
