<h1>Login</h1>

<span class="text-danger">
    @ViewBag.Error
</span>
<form method="post" asp-action="login">
    <input type="email" placeholder="email" name="email" id="email" value="@ViewBag.Email" />
    <input type="password" placeholder="password" name="password" id="password" />
    <input type="submit" value="Login" />
</form>