@model LibreriaMVC.Models.Libro

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Libro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnioPublicado" class="control-label"></label>
                <input asp-for="AnioPublicado" class="form-control" />
                <span asp-validation-for="AnioPublicado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stock" class="control-label"></label>
                <input asp-for="Stock" class="form-control" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EditorialId" class="control-label"></label>
                <select asp-for="EditorialId" class="form-control" asp-items="ViewBag.EditorialId"></select>
            </div>
            <div class="form-group">
                <label asp-for="GeneroId" class="control-label"></label>
                <select asp-for="GeneroId" class="form-control" asp-items="ViewBag.GeneroId"></select>
            </div>
            <div class="form-group">
                <label label-for="autores" class="control-label"></label>
                <select name="autores" class="form-control" multiple asp-items="ViewBag.Autores"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
